<a href="https://colab.research.google.com/github/heavy1368/ON2022/blob/main/Pandas_live.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

# Series

In [ ]:
dane=[1,2,3,4,2,1,4]

In [ ]:
dane2=pd.Series(dane)

In [ ]:
dane2

0    1
1    2
2    3
3    4
4    2
5    1
6    4
dtype: int64

In [ ]:
dane2.describe()

count    7.000000
mean     2.428571
std      1.272418
min      1.000000
25%      1.500000
50%      2.000000
75%      3.500000
max      4.000000
dtype: float64

In [ ]:
dane2.unique()

array([1, 2, 3, 4])

In [ ]:
dane2.value_counts()

1    2
2    2
4    2
3    1
dtype: int64

In [ ]:
np.sin(dane2)

0    0.841471
1    0.909297
2    0.141120
3   -0.756802
4    0.909297
5    0.841471
6   -0.756802
dtype: float64

In [ ]:
dane3_dict={'Ania':22,'Tomek':25,'Karol':23,'Marek':27, 'Kuba':22, 'Kasia':26, 'Mikołaj':23}

In [ ]:
dane3=pd.Series(dane3_dict)
dane3

Ania       22
Tomek      25
Karol      23
Marek      27
Kuba       22
Kasia      26
Mikołaj    23
dtype: int64

In [ ]:
dane3.describe()

count     7.0
mean     24.0
std       2.0
min      22.0
25%      22.5
50%      23.0
75%      25.5
max      27.0
dtype: float64

In [ ]:
dane3==27

Ania       False
Tomek      False
Karol      False
Marek       True
Kuba       False
Kasia      False
Mikołaj    False
dtype: bool

In [ ]:
dane3[dane3==27]

Marek    27
dtype: int64

# DataFrame

In [ ]:
dane4=pd.DataFrame(dane)
dane4

   0
0  1
1  2
2  3
3  4
4  2
5  1
6  4

In [ ]:
dane4.columns

RangeIndex(start=0, stop=1, step=1)

In [ ]:
dane=pd.read_csv('https://analityk.edu.pl/wp-content/uploads/2020/12/worldcities.csv')

In [ ]:
dane.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37977000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,Mahārāshtra,admin,23355000.0,1356226629
4,Manila,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140

In [ ]:
dane.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26569 entries, 0 to 26568
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        26569 non-null  object
 1   city_ascii  26569 non-null  object
 2   lat         26569 non-null  float64
 3   lng         26569 non-null  float64
 4   country     26569 non-null  object
 5   iso2        26538 non-null  object
 6   iso3        26569 non-null  object
 7   admin_name  26493 non-null  object
 8   capital     7626 non-null   object
 9   population  25596 non-null  float64
 10  id          26569 non-null  int64
dtypes: float64(3), int64(1), object(7)
memory usage: 2.2+ MB

### Podstawowe komendy

* df.info()
* df.head(n)
* df.tail(n)
* df.describe()
* df.columns
* df.index


Inne ważne operacje:

* df.isnull()
* df.duplicated() oraz df.drop_duplicates()
* df.sort_values(by=[])
* df.rename - służy do zmiany nazw kolumn, indeksów
* df.drop - usuwanie kolumn lub rekordów

In [ ]:
dane.describe()

                lat           lng    population            id
count  26569.000000  26569.000000  2.559600e+04  2.656900e+04
mean      33.095264    -11.363860  1.623457e+05  1.556097e+09
std       22.393678     73.946817  8.996585e+05  2.873890e+08
min      -54.934100   -179.590000  0.000000e+00  1.004003e+09
25%       27.918300    -78.779400  9.246000e+03  1.276656e+09
50%       40.218800     -0.768900  2.007950e+04  1.643148e+09
75%       47.987800     29.683300  5.936925e+04  1.840005e+09
max       81.716600    179.366700  3.797700e+07  1.934000e+09

In [ ]:
dane.columns

Index(['city', 'city_ascii', 'lat', 'lng', 'country', 'iso2', 'iso3',
       'admin_name', 'capital', 'population', 'id'],
      dtype='object')

In [ ]:
dane.index

RangeIndex(start=0, stop=26569, step=1)

In [ ]:
dane.isnull().sum()

city              0
city_ascii        0
lat               0
lng               0
country           0
iso2             31
iso3              0
admin_name       76
capital       18943
population      973
id                0
dtype: int64

In [ ]:
dane.drop(columns=['city_ascii', 'iso2' , 'iso3'],inplace=True)

In [ ]:
dane.rename(columns={'population':'populacja'},inplace=True)

## Przeglądanie danych

In [ ]:
dane['populacja']

0        37977000.0
1        34540000.0
2        29617000.0
3        23355000.0
4        23088000.0
            ...
26564          10.0
26565          10.0
26566           0.0
26567           0.0
26568           0.0
Name: populacja, Length: 26569, dtype: float64

In [ ]:
dane.populacja

0        37977000.0
1        34540000.0
2        29617000.0
3        23355000.0
4        23088000.0
            ...
26564          10.0
26565          10.0
26566           0.0
26567           0.0
26568           0.0
Name: populacja, Length: 26569, dtype: float64

In [ ]:
dane[['city','populacja']]

              city   populacja
0            Tokyo  37977000.0
1          Jakarta  34540000.0
2            Delhi  29617000.0
3           Mumbai  23355000.0
4           Manila  23088000.0
...            ...         ...
26564         Nord        10.0
26565  Timmiarmiut        10.0
26566  Cheremoshna         0.0
26567    Ambarchik         0.0
26568      Nordvik         0.0

[26569 rows x 2 columns]

In [ ]:
dane[2:3]['country']='Polska'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
dane.iloc[3,4]='coś'

In [ ]:
dane[dane['country']=='Poland']

,city,lat,lng,country,admin_name,capital,populacja,id
422,Warsaw,52.2167,21.0333,Poland,Mazowieckie,primary,1790658.0,1616024847
984,Kraków,50.0614,19.9372,Poland,Małopolskie,admin,766739.0,1616172264
1064,Łódź,51.7769,19.4547,Poland,Łódzkie,admin,690422.0,1616832750
1138,Wrocław,51.1077,17.0353,Poland,Dolnośląskie,admin,638586.0,1616108520
1287,Poznań,52.4000,16.9167,Poland,Wielkopolskie,admin,538633.0,1616725607
...,...,...,...,...,...,...,...,...
24163,Jedlicze,49.7164,21.6456,Poland,Podkarpackie,NaN,5766.0,1616854672
24201,Dąbrowa Białostocka,53.6500,23.3500,Poland,Podlaskie,NaN,6226.0,1616548793
24563,Kazimierza Wielka,50.2656,20.4936,Poland,Świętokrzyskie,minor,5848.0,1616505351
25174,Śmigiel,52.0134,16.5270,Poland,Wielkopolskie,NaN,5420.0,1616104537
25700,Bierutów,51.1333,17.5333,Poland,Dolnośląskie,NaN,5065.0,1616959868

In [ ]:
dane.set_index('id',inplace=True)

In [ ]:
dane.iloc[0,1]

35.6897

In [ ]:
dane

,city,lat,lng,country,admin_name,capital,populacja
id,,,,,,,
1392685764,Tokyo,35.6897,139.6922,Japan,Tōkyō,primary,37977000.0
1360771077,Jakarta,-6.2146,106.8451,Indonesia,Jakarta,primary,34540000.0
1356872604,Delhi,28.6600,77.2300,Polska,Delhi,admin,29617000.0
1356226629,Mumbai,18.9667,72.8333,India,coś,admin,23355000.0
1608618140,Manila,14.5958,120.9772,Philippines,Manila,primary,23088000.0
...,...,...,...,...,...,...,...
1304217709,Nord,81.7166,-17.8000,Greenland,Sermersooq,NaN,10.0
1304206491,Timmiarmiut,62.5333,-42.2167,Greenland,Kujalleq,NaN,10.0
1804043438,Cheremoshna,51.3894,30.0989,Ukraine,Kyyivs’ka Oblast’,NaN,0.0
1643739159,Ambarchik,69.6510,162.3336,Russia,Sakha (Yakutiya),NaN,0.0
1643587468,Nordvik,74.0165,111.5100,Russia,Krasnoyarskiy Kray,NaN,0.0

In [ ]:
dane.reset_index(inplace=True)

In [ ]:
dane

,city,lat,lng,country,admin_name,capital,populacja
id,,,,,,,
1392685764,Tokyo,35.6897,139.6922,Japan,Tōkyō,primary,37977000.0
1360771077,Jakarta,-6.2146,106.8451,Indonesia,Jakarta,primary,34540000.0
1356872604,Delhi,28.6600,77.2300,Polska,Delhi,admin,29617000.0
1356226629,Mumbai,18.9667,72.8333,India,coś,admin,23355000.0
1608618140,Manila,14.5958,120.9772,Philippines,Manila,primary,23088000.0
...,...,...,...,...,...,...,...
1304217709,Nord,81.7166,-17.8000,Greenland,Sermersooq,NaN,10.0
1304206491,Timmiarmiut,62.5333,-42.2167,Greenland,Kujalleq,NaN,10.0
1804043438,Cheremoshna,51.3894,30.0989,Ukraine,Kyyivs’ka Oblast’,NaN,0.0
1643739159,Ambarchik,69.6510,162.3336,Russia,Sakha (Yakutiya),NaN,0.0
1643587468,Nordvik,74.0165,111.5100,Russia,Krasnoyarskiy Kray,NaN,0.0

In [ ]:
dane.loc[0:2,'country']='Polska'

In [ ]:
dane

,id,city,lat,lng,country,admin_name,capital,populacja
0,1392685764,Tokyo,35.6897,139.6922,Polska,Tōkyō,primary,37977000.0
1,1360771077,Jakarta,-6.2146,106.8451,Polska,Jakarta,primary,34540000.0
2,1356872604,Delhi,28.6600,77.2300,Polska,Delhi,admin,29617000.0
3,1356226629,Mumbai,18.9667,72.8333,India,coś,admin,23355000.0
4,1608618140,Manila,14.5958,120.9772,Philippines,Manila,primary,23088000.0
...,...,...,...,...,...,...,...,...
26564,1304217709,Nord,81.7166,-17.8000,Greenland,Sermersooq,NaN,10.0
26565,1304206491,Timmiarmiut,62.5333,-42.2167,Greenland,Kujalleq,NaN,10.0
26566,1804043438,Cheremoshna,51.3894,30.0989,Ukraine,Kyyivs’ka Oblast’,NaN,0.0
26567,1643739159,Ambarchik,69.6510,162.3336,Russia,Sakha (Yakutiya),NaN,0.0
26568,1643587468,Nordvik,74.0165,111.5100,Russia,Krasnoyarskiy Kray,NaN,0.0

### Zadanie domowe

Napisz program, który wczytuje plik tekstowy i koduje go szyfrem cezara (z przesunięciem podawanym jako argument). Wynik szyfrowania ma być zapisany do nowego pliku.

Przykładowe uruchomienie:
```
szyfuj(list.txt, 5)
```
powoduje stworzenie pliku zaszyfrowany_tekst.txt z listem zaszyfrowanym przesunięciem o 5.

**Dla ambitnych:** napisać program tak, żeby nazwa pliku wyjściowego była powiązana z nazwą wejściowego np. 
* list.txt -> list_szyfr.txt
* tekst.txt->tekst_szyfr.txt

In [15]:
data = open("szyfr.txt", "r")
text = data.read()
print(text)
K=5
key = K

def encrypt(text,key):
 result = ""
 for i in range(len(text)):
    char = text[i]
    if char == ' ':
        result += ' '
    elif char.isupper():
        result += chr((ord(char) + key-65) % 26 + 65)
    else:
        result += chr((ord(char) + key - 97) % 26 + 97)
 return result

ex= open("zaszyfrowany_tekst.txt","w")
ex.write(encrypt(text,key))
ex.close()
print(encrypt(text , key))

In the last chapter, we have dealt with reverse cipher. This chapter talks about Caesar cipher in detail.
Algorithm of Caesar Cipher
The algorithm of Caesar cipher holds the following features −
Caesar Cipher Technique is the simple and easy method of encryption technique.
It is simple type of substitution cipher.
Each letter of plain text is replaced by a letter with some fixed number of positions down with alphabet.
The following diagram depicts the working of Caesar cipher algorithm implementation −
Ns ymj qfxy hmfuyjwe bj mfaj ijfqy bnym wjajwxj hnumjwg Ymnx hmfuyjw yfqpx fgtzy Hfjxfw hnumjw ns ijyfnqgwFqltwnymr tk Hfjxfw HnumjwwYmj fqltwnymr tk Hfjxfw hnumjw mtqix ymj ktqqtbnsl kjfyzwjx ywHfjxfw Hnumjw Yjhmsnvzj nx ymj xnruqj fsi jfxd rjymti tk jshwduynts yjhmsnvzjgwNy nx xnruqj yduj tk xzgxynyzynts hnumjwgwJfhm qjyyjw tk uqfns yjcy nx wjuqfhji gd f qjyyjw bnym xtrj kncji szrgjw tk utxnyntsx itbs bnym fqumfgjygwYmj ktqqtbnsl inflwfr ijunhyx ymj btwpnsl tk Hfjxfw hnumjw fqltwnymr nruqjrjsyfynts y